* {
  margin: 0px;
  padding: 0px;
  
}

.svg-container{
  position: relative;
}
.svg {
  
  position:absolute;
 
}

.svg:nth-child(1) {
  z-index: -1;
}

 .svg:nth-child(2) {
  z-index: -2;
} 
 .svg:nth-child(3) {
  z-index: -3;
}
@media (max-width: 650px) {
  .svg-container {
      
      max-width: 80%;
  }
  .svg-container:nth-child(1) {
      position: relative;
      z-index: -1;
  }
  .svg-container:nth-child(2){
      position: relative;
      z-index: -2;
  }
}

body {
  background-image: url("https://img.freepik.com/premium-photo/cancer-health-childhood-disease-world-yellow-concept-support-campaign-month-ribbon-day_512300-1065.jpg?w=740");
  background-size: cover;
  box-shadow: 10px 10px;
}
#grid-image {
  margin-top: 4px;
  display: grid;
  text-align: center;
}

.imag {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 70px;
  background-size: cover;
  justify-self: center
}

#grid-image>div {
  font-size: 1rem;
  font-weight: 600;
  justify-self: center;
  margin: 0%;
  color:blue;
}

@media (max-width:650px) {
  #image {

    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-self: center;
  }
}

.summary {
  width: 100%;
  height: fit-content;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 50% 50%;
  justify-self: center;
  text-align: center;
 
}

.summary>.pro {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  height: fit-content;
  background-color:#FBECB2 ;
 border-radius: 15px;
 box-shadow:10px 10px 5px lightcoral;
 border-style: ridge;

}

.summary>.pro>h2 {
  margin-top: 15px;
}

.summary>.pros {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-size: 1.1rem;
  height: fit-content;
  box-shadow:10px 10px 5px lightcoral;
  background-color: #FBECB2;
 border-radius: 15px;
 border-style: ridge;
}.summary>.pros>ol>li>a{
  color:red;
}
.summary>.pros>ol>li>a:hover{
  color:#141E46;
}

.summary>.pros>ol>li {
  list-style: none;
}

@media (max-width:650px) {
  .summary {
    display: grid;
    grid-template-columns: 100%;
    justify-self: center;
  }

}

.skill {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: fit-content;
  display: grid;
  font-size: 1.2rem;
  font-weight: 400;
  grid-template-columns: 50% 50%;
  /* background-color: cadetblue; */
  text-align: center;
}
.skill>.links{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #BEADFA; 
  width: 80%;
  box-shadow:10px 10px 5px lightseagreen;
  border-radius: 30px;
  /* border: 9px solid cadetblue; */
  border-style: outset;


}
.skill>.info{
  
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #BEADFA;
  width: 80%;
  border-radius: 30px;
 box-shadow:10px 10px 5px lightseagreen;
  border-style: outset;

}
.skill>.info>ol>li{
  list-style: none;
}
.skill>.links>div>a{
  color:#0895e8;
}
.skill>.links>div>a:hover{
  color:#141E46;
}
@media(max-width:650px){
  .skill{
    grid-template-columns: 100%;
  }
}
footer{
  height: fit-content;
  text-align: center;
  font-size: 1.2rem;
}
footer>h2{
  margin-top: 15px;
  color: black;
}
@media (max-width:650px) {
  footer{
  grid-template-rows: 100%;
  height: fit-content;

  }
}
